@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  padding: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: #555586;
  outline: 1px solid #555586;
}

body.frontPage {
  background: url(../images/start_bg_gradient.svg) center top/cover no-repeat fixed, url(../images/bg_color-04.svg) center/cover no-repeat fixed;
}

body.maleSide {
  background: url(../images/man_bg_gradient.svg) center top/cover no-repeat fixed, url(../images/bg_color-04.svg) center/cover no-repeat fixed;
}

body.femaleSide {
  background: url(../images/woman_bg_gradient.svg) center top/cover no-repeat fixed, url(../images/bg_color-04.svg) center/cover no-repeat fixed;
}

body::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  display: block;
  z-index: -1;
}

.maleSide::before {
  background: url(../images/man_lines.svg) center top/cover no-repeat;
}

.femaleSide::before {
  background: url(../images/woman_lines.svg) center top/cover no-repeat;
}

.frontPage::before {
  background: url(../images/start_lines.svg) center top/cover no-repeat;
}

.no-mar-pad {
  margin: 0 !important;
  padding: 0 !important;
}

.no-mar-padright {
  padding-right: 0;
}

.no-mar-padleft {
  padding-left: 0;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

p {
  line-height: 1.7;
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

h1 {
  font-size: 2.275rem;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.9rem;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1rem;
  }
}

::selection {
  background: #161327;
  color: #fff;
}

.secGap {
  padding: 50px 0;
}

.sec_title {
  margin-bottom: 35px;
  text-align: center;
}

.sec_title h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
}

@media only screen and (max-width: 600px) {
  .sec_title h1 {
    font-size: 1.4rem;
  }
}

.sec_title h2 {
  margin-bottom: 15px;
}

.getBtn {
  border-radius: 25px;
  margin: 0;
  padding: 12px;
  width: 100%;
  font-size: 1.2rem;
  border: 0;
  background-image: linear-gradient(to right, #34c2fa, #9424dc);
}

.getBtn:hover {
  background-image: linear-gradient(to right, #abce28, #d52969);
}

#logoWrap {
  margin: 10px 0;
}

#logoWrap img {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  #logoWrap img {
    height: 70px;
  }
}

#doorWrap {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #doorWrap {
    min-height: 63vh;
  }
}

#doorWrap .headingText {
  text-align: center;
}

#doorWrap .headingText h1 {
  font-weight: 600;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  #doorWrap .headingText h1 {
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 15px;
  }
}

#doorWrap .headingText h1 span {
  font-size: 3.3rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  #doorWrap .headingText h1 span {
    font-size: 2.3rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: auto;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  body {
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: auto;
  }
}

.selectGender h1 {
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .selectGender h1 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

.selectGender .door {
  position: relative;
}

.selectGender .door .or_divider {
  position: absolute;
  bottom: -20px;
  width: 98%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 600px) {
  .selectGender .door .or_divider {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .selectGender .door .or_divider {
    left: 48.5%;
  }
}

.selectGender .genderWrap {
  height: 405px;
  max-width: 95%;
  border: 1px solid;
  border-radius: 10px;
  padding: 0;
  position: relative;
  margin-bottom: 0.521vw;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .selectGender .genderWrap {
    max-width: 100%;
    height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .selectGender .genderWrap {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

.selectGender .genderWrap .topic {
  position: absolute;
  bottom: -11px;
  display: block;
  width: 53%;
  z-index: 1;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .selectGender .genderWrap .topic {
    position: initial;
    padding: 25px;
    font-size: 1.4rem;
  }
}

.selectGender .genderWrap .topic::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  background: #323b76;
}

@media only screen and (max-width: 600px) {
  .selectGender .genderWrap .topic::before {
    display: none;
  }
}

.selectGender .genderWrap img {
  width: 53%;
  opacity: 0.6;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

@media only screen and (max-width: 600px) {
  .selectGender .genderWrap img {
    display: none;
  }
}

.selectGender .genderWrap:hover img {
  opacity: 1;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.selectGender .genderWrap.female {
  border-color: #ce69a2;
}

.selectGender .genderWrap.female::before {
  content: "";
  position: absolute;
  border-radius: 27px;
  transition: 0.3s;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.14vw;
  opacity: 0.4;
  background: linear-gradient(315deg, rgba(134, 45, 192, 0.1) 0, rgba(195, 51, 172, 0.1) 50%, rgba(255, 57, 154, 0.99) 100%);
  background-clip: content-box;
}

@media only screen and (max-width: 600px) {
  .selectGender .genderWrap.female::before {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 4.14vw;
    transform: rotate(180deg);
    opacity: 0.6;
  }
}

.selectGender .genderWrap.female:hover::before {
  opacity: 0.5;
}

.selectGender .genderWrap.male {
  border-color: #6bb3dd;
}

.selectGender .genderWrap.male::before {
  content: "";
  position: absolute;
  border-radius: 27px;
  transition: 0.3s;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.14vw;
  opacity: 0.4;
  background: linear-gradient(315deg, rgba(81, 156, 240, 0.11) 20%, rgba(68, 206, 242, 0.1) 50%, rgba(56, 255, 245, 0.99) 100%);
  background-clip: content-box;
}

@media only screen and (max-width: 600px) {
  .selectGender .genderWrap.male::before {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 4.14vw;
    transform: rotate(180deg);
    opacity: 0.6;
  }
}

.selectGender .genderWrap.male:hover::before {
  opacity: 0.5;
}

fieldset {
  position: relative;
}

fieldset:not(:first-of-type) {
  display: none;
}

.progressCOv {
  padding: 0;
}

#progressbar {
  overflow: hidden;
  min-height: 100px;
}

#progressbar li {
  list-style-type: none;
  width: calc(100% / 4 - 4px);
  float: left;
  position: relative;
  text-align: center;
  background: rgba(42, 72, 141, 0.21);
  color: #fff;
  pointer-events: auto;
  margin-left: 1px;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px;
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  #progressbar li {
    width: calc(100% / 4 - 2px);
    font-size: 0.53rem;
    padding: 10px 0px;
  }
}

#progressbar li:before {
  content: "";
  display: block;
}

#progressbar li.active {
  color: #6bb3dd;
  background: rgba(0, 150, 255, 0.2);
}

#progressbar li.active:before, #progressbar li.active:after {
  background: #46c9f2;
}

.previous_button {
  border: 0 none;
  color: rgba(255, 255, 255, 0.25);
  position: absolute;
  z-index: 1;
  top: 0;
  left: -9vw;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .previous_button {
    top: -110px;
    left: auto;
    right: 70px;
    padding: 10px 15px;
    border-radius: 4px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .previous_button {
    top: -130px;
    left: auto;
    right: 90px;
  }
}

@media only screen and (max-width: 600px) {
  .previous_button span {
    display: none;
  }
}

.previous_button i {
  margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .previous_button i {
    margin-bottom: 0px;
  }
}

.previous_button:hover, .previous_button:focus {
  color: #fff;
}

.helpWrap {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .helpWrap {
    right: 20px;
    top: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .helpWrap {
    right: 20px;
    top: 20px;
  }
}

.helpWrap .helpBtn {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  border-radius: 9px;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 600px) {
  .helpWrap .helpBtn {
    padding: 8px 13px;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .helpWrap .helpBtn span {
    display: none;
  }
}

.innerLeft h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .innerLeft h1 {
    font-size: 1.3rem;
    float: left;
    margin-right: 10px;
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .innerLeft h1 {
    font-size: 1.7rem;
  }
}

.innerLeft p {
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .innerLeft p {
    display: none;
  }
}

.innerLeft img {
  height: 55px;
}

@media only screen and (max-width: 600px) {
  .innerLeft img {
    height: 30px;
  }
}

.innerLeft i {
  font-size: 45px;
}

@media only screen and (max-width: 600px) {
  .innerLeft i {
    font-size: 20px;
    margin-top: 3px;
  }
}

.innerMain {
  padding-right: 50px;
}

@media only screen and (max-width: 600px) {
  .innerMain {
    padding-right: 15px;
  }
}

.innerMain ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.innerMain ul li {
  list-style: none;
  margin-bottom: 12px;
  padding: 13px;
  transition: 0.3s linear;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 6px;
}

.innerMain ul li:hover {
  background: #6bb3dd;
}

.innerMain #tabs nav {
  background: rgba(0, 0, 0, 0.2);
}

.innerMain #tabs .nav-tabs {
  border-bottom: 0;
}

.innerMain #tabs .nav-link {
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  border-color: transparent;
  margin: 4px;
  font-size: 0.9rem;
  border-radius: 6px;
}

.innerMain #tabs .nav-link.active {
  background-color: rgba(107, 179, 221, 0.75);
}

.selectGender.selectedGender {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .selectGender.selectedGender .genderWrap {
    display: none;
  }
}

.selectGender.selectedGender .genderWrap.male::before {
  opacity: 0.5 !important;
}

.selectGender.selectedGender .genderWrap img {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .mobHide {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .mobHide {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .deskHide {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #tabs {
    padding: 0;
  }
}

body.femaleSide .innerMain ul li:hover {
  background: #ce69a2;
}

body.femaleSide #progressbar li.active {
  background: rgba(206, 105, 162, 0.2);
  color: #ce69a2;
}

body.femaleSide .progressBarFill {
  background: linear-gradient(to right, #8917e6 0, #ffa275 100%);
}

body.femaleSide .continueWrap .action-button:hover {
  background: #ce69a2;
}

body.femaleSide .innerMain #tabs .nav-link.active {
  background-color: rgba(206, 105, 162, 0.75);
}

body.femaleSide .formIcon i {
  color: #a5578e;
}

body.femaleSide #helpText .helpCover i.fas.fa-question {
  color: #ce69a2;
}

.progressBar {
  position: relative;
  height: 8px;
  margin-left: 1px;
  margin-right: 12px;
  background: #271d47;
  margin-top: -36px;
}

@media only screen and (max-width: 600px) {
  .progressBar {
    margin-top: -45px;
    margin-right: 0;
  }
}

.progressBarFill {
  height: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(to right, #29beff 0, #d2ffb4 100%);
  transition: width 0.5s;
}

.progressBarValue {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  bottom: -18px;
  font-size: 12px;
}

.mypage-info1 a {
  cursor: pointer;
}

#helpText {
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.7s ease-in;
  -ms-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
}

#helpText {
  width: 440px;
  position: absolute;
  right: -440px;
  height: 180px;
  z-index: 1;
  background: rgba(70, 51, 128, 0.95);
}

@media only screen and (max-width: 600px) {
  #helpText {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 99;
    top: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #helpText {
    top: 20px;
    z-index: 99;
  }
}

#helpText .helpCover {
  height: 100%;
  width: 100%;
  padding: 30px;
}

#helpText .helpCover p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.75);
}

#helpText .helpCover .btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  background: #271d47;
  color: #fff;
}

#helpText .helpCover i.fas.fa-question {
  color: #6bb3dd;
  margin-bottom: 10px;
  font-size: 21px;
}

.continueWrap .action-button {
  width: 100%;
  background: rgba(49, 210, 124, 0.8);
  color: #fff;
  padding: 10px;
  font-size: 0.9rem;
}

.continueWrap .action-button:hover {
  background: #6bb3dd;
}

.genderDiscription {
  background: #271d47;
  padding: 20px;
  margin-bottom: 20px;
  color: #e0e0e0;
  border-radius: 7px;
  padding-bottom: 5px;
}

.genderDiscription p {
  font-size: 0.9rem;
}

.form-control {
  color: #fff;
  height: 42px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

.form-control:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ftLeft {
  padding-right: 7px;
}

.ftRight {
  padding-left: 7px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.75) !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.75) !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.75) !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.75) !important;
}

.submitBtn {
  width: 100%;
  padding: 13px 10px;
  background: #79798d;
  color: #fff;
}

.food {
  padding: 0 10px;
  margin-top: 20px;
}

.food .foodCov {
  padding: 0 7px;
}

.food .foodCov img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .food .foodCov img {
    height: auto;
    margin-bottom: 15px;
  }
}

.formIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formIcon i {
  color: #6bb3dd;
}

#paymentWrap {
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  #paymentWrap {
    margin-top: 20px;
  }
}

#paymentWrap .payLeft {
  background: #2b2d71;
  color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media only screen and (max-width: 600px) {
  #paymentWrap .payLeft {
    padding: 15px;
    margin: 0 15px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
  }
}

#paymentWrap .payLeft .topPricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#paymentWrap .payLeft .topPricing .amount {
  font-size: 1.5rem;
  color: #fff;
}

#paymentWrap .payLeft .topPricing .discountPrice {
  color: #fd30d9;
  font-size: 1rem;
}

#paymentWrap .payLeft .contentDivider {
  padding: 15px;
  background: #323e7c;
  margin-bottom: 20px;
  border-radius: 15px;
}

#paymentWrap .payLeft .contentDivider ul {
  margin: 0;
  padding-left: 30px;
}

#paymentWrap .payLeft .contentDivider ul li {
  list-style: none;
  line-height: 1.9;
  margin: 0;
  font-size: 0.9rem;
}

#paymentWrap .payLeft .contentDivider ul li::before {
  position: absolute;
  margin-left: -1.7em;
  font-weight: 600;
  content: "\f067";
  font-size: 13px;
  font-family: "Font Awesome\ 5 Free";
  color: #fff;
  margin-top: 2px;
}

#paymentWrap .payLeft .totalWrap {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

#paymentWrap .payLeft .totalWrap h3 {
  margin: 0;
}

#paymentWrap .payLeft .totalWrap p {
  margin-bottom: 0;
}

#paymentWrap .payLeft .bonus {
  text-align: center;
}

#paymentWrap .payLeft .bonus .books {
  margin-top: 25px;
}

#paymentWrap .payLeft .bonus .books .book img {
  height: 140px;
}

#paymentWrap .payLeft .bonus .books h4 {
  font-size: 1.1rem;
}

#paymentWrap .payRight {
  background: #4b5888eb;
  padding: 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media only screen and (max-width: 600px) {
  #paymentWrap .payRight {
    padding: 15px;
    margin: 0 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    padding-bottom: 60px;
  }
}

#paymentWrap .payRight .formTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#paymentWrap .payRight .formTop img {
  height: 23px;
}

#paymentWrap .payRight .formTop label {
  margin-bottom: 0;
}

#paymentWrap .payRight form {
  margin-top: 70px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #paymentWrap .payRight form {
    margin-top: 20px;
  }
}

#paymentWrap .payRight form .form-control {
  height: 45px;
  margin-bottom: 15px;
  background-color: #353a78;
  border: 1px solid #353a78;
  text-align: left;
}

#paymentWrap .payRight form .submitBtn {
  background: #01d477;
  color: #ffffff;
  font-weight: 700;
}

#paymentWrap .payRight form .submitBtn:hover {
  background: #01bb69;
}

#paymentWrap .payRight form .paypalBtn {
  background: #ffc43a;
  width: 100%;
  padding: 12px;
  margin-top: 15px;
}

#paymentWrap .payRight form .paypalBtn:hover {
  background: #ffbc21;
}

#paymentWrap .payRight form .paypalBtn img {
  height: 22px;
}

#paymentWrap .payRight label {
  font-size: 0.9rem;
}

#paymentWrap .payRight .termsWrap p {
  font-size: 11px;
  margin-top: 15px;
}

#paymentWrap .payRight .termsWrap a {
  color: #d3c5ff;
  text-decoration: underline;
}

#paymentWrap .payRight .termsWrap a:hover {
  text-decoration: none;
}

#paymentWrap .payRight .securedBy {
  display: flex;
  position: absolute;
  bottom: 15px;
  width: 100%;
  left: 0;
  justify-content: center;
}

#paymentWrap .payRight .securedBy .secureWrap {
  height: 32px;
  background: white;
  margin: 0 7px;
  padding: 2px;
  filter: grayscale(1);
  opacity: 0.6;
}

#paymentWrap .payRight .securedBy .secureWrap img {
  height: 100%;
}

.errorMessage p {
  margin-bottom: 10px;
  font-size: 12px;
  color: #fd30d9;
  margin-top: -10px;
  display: none;
}

.custom-select {
  background: #353a78 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
}

.input-group-text {
  background: #353a78;
  border: 0;
  color: #cccecd;
  margin-bottom: 15px;
}

.form-control:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

#datepicker span.input-group-addon {
  position: absolute;
  right: 14px;
  top: 11px;
  color: #cccecd;
  z-index: 11;
}

#getWrap {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #getWrap {
    padding-bottom: 0;
  }
}

#getWrap h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 10px 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  #getWrap h1 {
    font-size: 2rem;
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #getWrap h1 {
    font-size: 2.3rem;
  }
}

#getWrap .getBtn {
  border-radius: 50px;
  margin: 0;
  padding: 22px;
  width: 80%;
  font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
  #getWrap .getBtn {
    padding: 15px;
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #getWrap .getBtn {
    padding: 15px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #getWrap .leftGet {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #getWrap .rightGet img {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -45px;
  }
}

#successWrap {
  color: #f4f3f5;
}

#successWrap.successDown .successCov {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  #successWrap.successDown .successCov {
    margin-bottom: 15px;
  }
}

#successWrap .successCov {
  background: #161327;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #636086;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov {
    margin-bottom: 15px;
  }
}

#successWrap .successCov p {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov p {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov p {
    font-size: 14px;
  }
}

#successWrap .successCov p span {
  color: #fa30d6;
}

#successWrap .successCov .bmiImage {
  margin: 22px -41px;
  margin-top: 25px;
  padding-top: 25px;
  margin-bottom: -21px;
}

#successWrap .successCov .bmi {
  position: relative;
}

#successWrap .successCov .bmi h1 {
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 47px;
  font-size: 5.5rem;
  color: #399262;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .bmi h1 {
    top: 19px;
    left: 15px;
    font-size: 3.5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .bmi h1 {
    top: 19px;
    left: 15px;
    font-size: 3.5rem;
  }
}

#successWrap .successCov .bmi h2 {
  position: absolute;
  z-index: 1;
  font-weight: 100;
  color: #399262;
  top: 28px;
  left: 157px;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .bmi h2 {
    top: 9px;
    left: 86px;
    font-size: 1.3rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .bmi h2 {
    top: 9px;
    left: 86px;
    font-size: 1.3rem;
  }
}

#successWrap .successCov .metaResulet {
  color: #399262;
}

#successWrap .successCov .metaImage {
  margin: 0px -29px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .metaImage {
    margin: 16px -29px;
  }
}

#successWrap .successCov .metaAge {
  color: #a7e231;
}

#successWrap .successCov .calories {
  position: relative;
  padding: 89px 0;
  padding-top: 39px;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories {
    padding: 65px 0;
    padding-top: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories {
    padding: 65px 0;
    padding-top: 10px;
  }
}

#successWrap .successCov .calories .minC,
#successWrap .successCov .calories .maxC {
  font-size: 1.2rem;
  color: #a0a0a2;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories .minC,
  #successWrap .successCov .calories .maxC {
    font-size: 0.95rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories .minC,
  #successWrap .successCov .calories .maxC {
    font-size: 1rem;
  }
}

#successWrap .successCov .calories .minC {
  position: absolute;
  z-index: 1;
  bottom: 65px;
  left: 40px;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories .minC {
    left: 10px;
    bottom: 45px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories .minC {
    left: 10px;
    bottom: 45px;
  }
}

#successWrap .successCov .calories .maxC {
  position: absolute;
  z-index: 1;
  bottom: 65px;
  right: 40px;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories .maxC {
    right: -15px;
    bottom: 45px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories .maxC {
    right: -15px;
    bottom: 45px;
  }
}

#successWrap .successCov .calories .resultCalories {
  position: absolute;
  z-index: 1;
  top: 155px;
  left: 131px;
  color: #f48f2b;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories .resultCalories {
    top: 60px;
    left: 30%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories .resultCalories {
    top: 60px;
    left: 75px;
  }
}

#successWrap .successCov .calories .resultCalories h1 {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories .resultCalories h1 {
    font-size: 1.025rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories .resultCalories h1 {
    font-size: 1rem;
  }
}

#successWrap .successCov .calories .resultCalories p {
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  #successWrap .successCov .calories .resultCalories p {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .successCov .calories .resultCalories p {
    font-size: 15px;
  }
}

#successWrap .successCov .calories .caloriesImage {
  margin: 0 -12px;
}

#successWrap .successCov .caloriesBtm {
  color: #f48f2b;
}

#successWrap .topIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #535163;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  color: #a09fad;
}

@media only screen and (max-width: 600px) {
  #successWrap .topIcon {
    padding: 6px;
    font-size: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .topIcon {
    padding: 6px;
    font-size: 10px;
  }
}

#successWrap .topIcon i {
  border: 1px solid #a09fad;
  width: 36px;
  height: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  #successWrap .topIcon i {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .topIcon i {
    width: 27px;
    height: 27px;
  }
}

#successWrap h1 {
  font-size: 2.6rem;
  margin: 10px 0;
  margin-top: 0;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  #successWrap h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap h1 {
    font-size: 1.8rem;
  }
}

#successWrap h4 {
  color: #7d7c8a;
  margin-top: -10px;
}

#successWrap .sucPercentage {
  height: 358px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  font-size: 75px;
  font-weight: 200;
  color: #fa30d6;
}

@media only screen and (max-width: 600px) {
  #successWrap .sucPercentage {
    height: 170px;
    font-size: 50px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #successWrap .sucPercentage {
    height: 205px;
    font-size: 55px;
  }
}

#successWrap .graphWrap {
  margin: 22px -16px;
  margin-top: 25px;
}

#summaryWrap {
  color: #fff;
}

@media only screen and (max-width: 1366px) {
  #summaryWrap .container.outspread {
    max-width: 1300px;
  }
}

#summaryWrap .row {
  align-items: center;
}

#summaryWrap h1 {
  font-size: 3.6rem;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  #summaryWrap h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #summaryWrap h1 {
    font-size: 2.6rem;
  }
}

#summaryWrap .summary {
  background: #161327;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #636086;
}

@media only screen and (max-width: 600px) {
  #summaryWrap .summary {
    margin: 0 -8px;
  }
}

#summaryWrap .summary .innerIcon {
  text-align: left;
  color: #84828e;
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  #summaryWrap .summary .innerIcon {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #summaryWrap .summary .innerIcon {
    font-size: 14px;
  }
}

#summaryWrap .summary h3 {
  font-size: 50px;
  margin: 0;
  margin-top: -12px;
}

@media only screen and (max-width: 600px) {
  #summaryWrap .summary h3 {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #summaryWrap .summary h3 {
    font-size: 24px;
    padding-top: 6px;
  }
}

#summaryWrap .summary p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  #summaryWrap .summary p {
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #summaryWrap .summary p {
    font-size: 12px;
  }
}

#summaryWrap .summary.age h3 {
  color: #fa30d6;
}

#summaryWrap .summary.weight h3 {
  color: #a7e231;
}

#summaryWrap .summary.height h3 {
  color: #e7b041;
}

.carousel-inner {
  overflow: inherit;
}

.carousel-indicators {
  bottom: 4px;
}

.carousel-indicators .active {
  background-color: #161327;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9ff39c;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-item-next.carousel-item-left {
  opacity: 1;
}

.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left {
  opacity: 0;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

#phoneSlider {
  color: #fff;
}

#phoneSlider h1 {
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
  margin: 35px 0;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  #phoneSlider h1 {
    font-size: 2.3rem;
    margin-top: 0;
  }
}

#phoneSlider .offer {
  margin: 20px 0;
  margin-left: 20%;
}

#phoneSlider .offer ul li {
  list-style: none;
  line-height: 2.3;
  margin: 0;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  #phoneSlider .offer ul li {
    font-size: 1.1rem;
  }
}

#phoneSlider .offer ul li::before {
  position: absolute;
  margin-left: -1.7em;
  font-weight: 600;
  content: "\f00c";
  font-size: 1.8rem;
  font-family: "Font Awesome\ 5 Free";
  color: #fa30d6;
  margin-top: -8px;
}

@media only screen and (max-width: 600px) {
  #phoneSlider .offer ul li::before {
    font-size: 1.5rem;
    margin-top: -5px;
  }
}

@media only screen and (max-width: 600px) {
  #phoneSlider .getCov {
    text-align: center;
  }
}

#phoneSlider .getBtn {
  border-radius: 50px;
  margin: 0;
  padding: 22px;
  width: 100%;
  font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
  #phoneSlider .getBtn {
    padding: 16px;
    width: 80%;
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

.phoneWrap {
  position: relative;
  text-align: center;
  height: 585px;
}

.phoneWrap .phoneItems {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.phoneWrap .phoneCov,
.phoneWrap #myCarousel,
.phoneWrap .carousel-inner,
.phoneWrap .carousel-item,
.phoneWrap .phoneItems {
  height: 100%;
}

.phoneWrap .carousel-item img {
  height: 100%;
  padding: 15px;
}

.phoneWrap .carousel-indicators {
  display: none;
}

#btmInfoWrap {
  background: #fff;
  padding: 30px 0;
  margin-top: 40px;
}

#btmInfoWrap .cards {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  #btmInfoWrap .cards {
    display: inherit;
  }
}

#btmInfoWrap .cards img {
  height: 75px;
}

@media only screen and (max-width: 600px) {
  #btmInfoWrap .cards img {
    height: 36px;
  }
}

#btmInfoWrap h3 {
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  #btmInfoWrap h3 {
    font-size: 0.8rem;
  }
}

#btmInfoWrap p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  #btmInfoWrap p {
    font-size: 0.7rem;
  }
}

#chatWrap img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
}

#footerWrap.paymentFooter {
  background: #fff;
  margin-top: 0;
  color: #000;
}

#footerWrap.paymentFooter .footerLine {
  border-top: 1px solid #00000045;
}

#footerWrap.paymentFooter .terms a {
  color: #000 !important;
}

#footerWrap {
  color: #fff;
  margin-top: 40px;
}

#footerWrap .footerLine {
  border-top: 1px solid #ffffff29;
  padding: 18px 0;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  #footerWrap .footerLine {
    padding: 18px 15px;
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #footerWrap .footerLine {
    justify-content: center;
  }
}

#footerWrap .footerLine .terms a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
}

#footerWrap .footerLine .terms a:hover {
  color: #3b8fed;
}

#footerWrap .footerLine .terms a:not(:last-child)::after {
  content: "|";
  display: inline-block;
  padding: 0 0.8vw;
  color: rgba(255, 255, 255, 0.75);
}

#footerWrap .footerLine p {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */