.secGap {
    padding: 50px 0;
}

.sec_title {
    margin-bottom: 35px;
    text-align: center;

    h1 {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;

        @include responsive(phone) {
            font-size: 1.4rem;
        }
    }

    h2 {
        margin-bottom: 15px;
    }
}

.getBtn {
    border-radius: 25px;
    margin: 0;
    padding: 12px;
    width: 100%;
    font-size: 1.2rem;
    border: 0;
    background-image: linear-gradient(to right, #34c2fa, #9424dc);
    &:hover {
        background-image: linear-gradient(to right, #abce28, #d52969);
    }
}
