@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

// Color Variables
$primary-color: #00a0de;
$secondary-color: #f7f7f7;

// footer color
$primary-foot-color: #333333;
$secondary-foot-color: #02b7d8;

// font variables
$font-stack: 'Open Sans',
sans-serif;
// $heading-font: "HelveticaNeueLTPro-Bd";