@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

// Color Variables
$primary-color: #161327;
$pink: #fa30d6;
$lightGreen: #a7e231;
$soil: #e7b041;
$iconColor: #84828e;
$darkGreen: #399262;
$soilFire: #f48f2b;

// font variables
$font-stack: "Open Sans", sans-serif;
// $heading-font: "HelveticaNeueLTPro-Bd";
